<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Action Submit Page</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav-list">
    <li><a href="/">XSS napad</a></li>
        <li><a href="/brokenAccess">Loša kontrola pristupa </a></li>
    </ul>
</nav>
<% if (check === 1) { %>
    <h1>Traženi upit je:</h1>

    <% if (sigurnost === "safeOn") { %>
        <p class="rezultat"><%= upit %></p>
    <% } else { %>
        <p class="rezultat"><%- upit %></p>
    <% } %>
<% } %>
<% if (check === 0)  { %>
    <h3>Detektiran je xss napad preko zlonamjernog linka</h3>
<% } %>

</body>
</html>
