<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Action Submit Page</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav-list">
    <li><a href="/">XSS napad</a></li>
        <li><a href="/brokenAccess">Loša kontrola pristupa </a></li>
    </ul>
</nav>
<h1>Traženi upit je:</h1>

<% if (sigurnost === "safeOn") { %>
    <p class="rezultat"><%= upit %></p>
<% } else { %>
    <p class="rezultat"><%- upit %></p>
<% } %>
</body>
</html>
