<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>sigurnost</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/">XSS napad</a></li>
        <li><a href="/brokenAccess">Loša kontrola pristupa </a></li>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>

<div class="poveznice-container">
    <br>
    <a class="poveznice" href="/user">user info</a>
    <br>

    <a class="poveznice" >admin info <br>(zaštićen url)</a>
    <br>
    <p class="poveznice" > management info <br>(nezaštićen url)</p>
</div>

</body>
</html>
