<!DOCTYPE html>
<html>
<head>
    <title>sigurnost</title>
</head>
<body>
<div class="navbar">
    <a href="/">XSS napad</a>
    <a href="/brokenAccess">Loša kontrola pristupa </a>
    <a href="/login">login </a>
    <a href="/logout">login </a>

</div>

<div>
    <br>
    <a href="/user">user info</a>
    <br>

    <a href="/admin">admin info</a>
    <br>
    <p> management info</p>
</div>

</body>
</html>
