<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>sigurnost</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/">XSS napad</a></li>
        <li><a href="/brokenAccess">Loša kontrola pristupa </a></li>
    </ul>
</nav>
<h1 >XSS reflektirani napad</h1>
<div class="container-vertical">
<div class="margins">

    <form method="GET" action="/actionsubmit" id="myForm">
        <label for="sigurnost">Odaberi:</label>
        <select name="sigurnost" id="sigurnost">
            <option value="safeOn">Uključi siguran način</option>
            <option value="safeOff">Isključi siguran način</option>
        </select>
        <br>
        <p class="naziv" >Upiši pojam:</p>
        <textarea type="textarea" name="upit" id="upit" >
            <script>alert("xss attack!");</script></textarea>
        <button type="submit">Pretraži</button>
    </form>
<h1>Generirani zlonamjerni link</h1>
</div>
    <div class="like-form">
        <a href="<%= safeofflink %>"> zlonamjerni lik u nezaštićenom okruženju</a>
    </div>
    <div class="like-form">
        <a href="<%= safeonlink %>"> zlonamjerni lik u zaštićenom okruženju</a>
    </div>

    <!--
<div class="like-form ">
    <p>Za ovaj dio potreban je login.</p>
    <br>
    <label for="sigurnost1">Odaberi:</label>
    <select name="sigurnost1" id="sigurnost1">
        <option value="safeOn">Uključi siguran način</option>
        <option value="safeOff">Isključi siguran način</option>
    </select>
    <br>
    <label class ="naziv" for="nickname">Nadimak:</label><br>
    <input class="like-textarea" type="text" name="nickname" id="nickname" >
    <button type="button" id="generirajLink">Generiraj link</button>

    <a id="generirani_link" href=""> </a>



</div>
-->
</div>

<script>

    document.getElementById("myForm").addEventListener("submit", function (event) {
        var sigurnostValue = document.getElementById("sigurnost").value;

        if (sigurnostValue === "safeOn") {
            var upitInput = document.getElementById("upit");
            var forbiddenCharacters = /[.,<>%=]/; // Regular expression to match forbidden characters

            if (forbiddenCharacters.test(upitInput.value)) {
                alert("Upit sadrži zabranjene znakove.");
                event.preventDefault();
            }
            if (typeof upitInput.value !== "string" ) {
                alert("Upit sadrži zabranjene znakove.");
                event.preventDefault();
            }

        }
    });

</script>
</body>
</html>
