<!DOCTYPE html>
<html>
<head>
    <title>sigurnost</title>
</head>
<body>
<div class="navbar">
    <a href="/">XSS napad</a>
    <a href="/brokenAccess">Loša kontrola pristupa </a>

</div>
<div>
    <h1>XSS reflektirani napad</h1>
    <form method="POST" action="/actionsubmit">
        <label for="sigurnost">Select a Mode:</label>
        <select name="sigurnost" id="sigurnost">
            <option value="safeOn">Uključi siguran način </option>
            <option value="safeOff">Isključi siguran način</option>

        </select>
        <br>
        <input type="text" name="upit" id="upit" placeholder="pretraži bazu . . . .  ">
        <button type="submit">Pretraži</button>
    </form>
</div>

</body>
</html>
