<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<body class="u-centru">
<h1 class="u-centru poveznice-container">Login</h1>
<div class="poveznice-container">

    <form method="POST" action="/login" class="form-width">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br><br>

    <button type="submit">Login</button>
</form>
</div>
</body>
</html>
