<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>user</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/">XSS napad</a></li>
        <li><a href="/brokenAccess">Loša kontrola pristupa </a></li>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>
<h1>User info</h1>

<div class="poveznice-container">
<div>
<h3> Neiguran način promjene lozinke</h3>
<form class="promjena" method="get" action="/promjenaLozinke" id="promjenaLozinke">

    <label class ="naziv" for="loz">Nova lozinka:</label><br>
    <input type="text" name="loz" id="loz" >

    <button type="submit">promijeni</button>
</form>
</div>
<div>
<h3> Siguran način promjene lozinke</h3>
<form  class="promjena" method="post" action="/promjenaLozinke1" id="promjenaLozinke">

    <label class ="naziv" for="loz2">Nova lozinka:</label><br>
    <input type="text" name="loz2" id="loz2" >

    <button type="submit">promijeni</button>

</form>
</div>
</div>
</body>
</html>